<section class="section--center mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">
        {{#exists errorTitle}}
          {{this}}
        {{else}}
          Oops! Algo ha ocurrido :(
        {{/exists}}
      </h3>
    </div>
    <div class="mdl-card__supporting-text">
      <p>{{message}}</p>
      <p>{{error}}</p>
    </div>
  </div>
</section>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
