<div id="content">
	{{#exists message}}
		<p>{{message.error}}</p>
		<p>{{message.success}}</p>
	{{/exists}}
	<div id="app">
		{{{ html }}}
	</div>
</div>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<script src="/js.js"></script>
