{{#exists message}}
  <p>{{message.error}}</p>
  <p>{{message.success}}</p>
{{/exists}}
<span id="home-container">
</span>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<script src="/js.js"></script>
<script>
  trackerGuias.home.render();
</script>
