<section class="section--center mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">¡Excelente! Te suscribiste a los cambios de {{ packageData }} en el email {{ email }}.</h3>
    </div>
  </div>
</section>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
