<header className="mdl-layout__header">
  <div className="mdl-layout__header-row">
    <span className="mdl-layout-title">Seguimiento de Guías</span>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>
